<h1>AngelHack Workshop</h1>
<h2>3D Printing</h2>

<p>
  <%= @greeting %>, <%= @name %>
</p>

<p>
  Thanks for signing up the workshop.
</p>

<div>
  <div><a href="http://localhost:3000/confirm/<%= @pid %>/yes">Yes</a></div>
  <div><a href="http://localhost:3000/confirm/<%= @pid %>/no">No</a></div>
</div>