<h1>AngelHack Workshop</h1>
<h2>3D Printing</h2>

<p>
  <%= @greeting %>, <%= @name %>
</p>

<p>
  Thanks for signing up the workshop.
</p>

<div>
  <div><%= link_to 'Yes', confirm_yes_url(@pid) %></div>
  <div><%= link_to 'No', confirm_no_url(@pid) %></div>
</div>