<div style="text-align: center;">
  <%= image_tag 'angelhack_logo.png' %>

  <h1>AngelHack 2015 Hong Kong</h1>
  <p><a href="http://angelhack.com/hackathon/hongkong-2015/">Registration is OPEN!!</a></p>

  <h2>Introduction to 3D Printing with Modelling (FULL)</h2>
  <p><a href="https://angelhack.typeform.com/to/RsPTEt">Sign Up</a></p>

  <h2>Building iPhone App using only HTML (FULL)</h2>
  <p><a href="https://angelhack.typeform.com/to/HH6KbX">Sign Up</a></p>

  <a href="<%= asset_path 'AngelHackerInfographic.pdf' %>">
    <%= image_tag 'infographic.png' %>
  </a>
</div>

