<div style="text-align: center;">
  <%= image_tag 'angelhack_logo.png' %>

  <h1 class="special">AngelHack 2016 Hong Kong</h1>
  <p><a class="special" href="http://angelhack.com/angelhack-hong-kong-2016/" target="_blank">>> Registration is OPEN!! <<</a></p>

  <h3>Mobile Apps: An intro to Development and Investment Options</h3>
  <p><a href="https://generalassemb.ly/education/mobile-apps-an-intro-to-development-and-investment-options-angelhack-pre-event/hong-kong/24971" target="_blank">>> Sign Up <<</a></p>

  <h3>Rails Girls Hong Kong #4</h3>
  <p><a href="https://generalassemb.ly/education/rails-girls-hong-kong/hong-kong/24860" target="_blank">>> Sign Up <<</a></p>

  <h3>Introduction to 3D Printing</h3>
  <p><a href="https://generalassemb.ly/education/introduction-to-3d-printing-angelhack-pre-event/hong-kong/25009" target="_blank">>> Sign Up <<</a></p>

  <h3>How to Use Open Source Projects to Power Your Web Application?</h3>
  <p><a href="https://generalassemb.ly/education/how-to-use-open-source-projects-to-power-your-web-application-angelhack-pre-event/hong-kong/24970" target="_blank">>> Sign Up <<</a></p>

  <h3 class="special">AngelHack X Mind Fund presents: Jann Talinn, Co-Founder of Skype</h3>
  <p><a class="special" href="https://www.eventbrite.com/e/angelhack-x-mind-fund-presents-jann-talinn-co-founder-of-skype-tickets-25186598795" target="_blank">>> Sign Up <<</a></p>

  <hr/>
  <h2>Infographics</h2>
  <a href="<%= asset_path 'infographics.jpg' %>">
    <%= image_tag 'infographics.jpg', width: 600 %>
  </a>
</div>

