<div style="text-align: center;">
  <%= image_tag 'angelhack_logo.png' %>

  <h1>AngelHack 2016 Hong Kong</h1>
  <p><a href="http://angelhack.com/angelhack-hongkong-2016/" target="_blank">Registration is OPEN!!</a></p>

  <h3>Mobile Apps: An intro to Development and Investment Options (Opening soon...)</h3>
  <p><a href="/" target="_blank">Sign Up</a></p>

  <h3>Rails Girls Hong Kong #4</h3>
  <p><a href="https://generalassemb.ly/education/rails-girls-hong-kong/hong-kong/24860" target="_blank">Sign Up</a></p>

  <h3>Introduction to 3D Printing (Opening soon...)</h3>
  <p><a href="/" target="_blank">Sign Up</a></p>

  <h3>How to Use Open Source Projects to Power Your Web Application? (Opening soon...)</h3>
  <p><a href="/" target="_blank">Sign Up</a></p>

  <a href="<%= asset_path 'infographics.jpg' %>">
    <%= image_tag 'infographics.jpg', width: 600 %>
  </a>
</div>

