// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.special {
  font-weight: bold;
  color: red;
}

p {
  font-size: 18px;

  a.special {
    font-weight: bold;
    color: red;
  }
}